* {
  margin: 0;
  padding: 0; }

body {
  padding: 10px; }

#user_nav {
  text-align: right; }

#messages {
  width: 60%;
  text-align: center;
  margin: 0 auto 20px; }
  #messages div {
    padding: 2px 10px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px; }
  #messages #notice:not(:empty) {
    border: 1px solid #00cc33;
    background-color: #99ff99; }
  #messages #alert:not(:empty) {
    border: 1px solid #ff3333;
    background-color: #ffaaaa; }

form {
  line-height: 1.5em;
  font-size: 1em; }
  form label {
    width: 120px;
    vertical-align: top;
    float: left;
    clear: left; }
    form label:not(.collection_radio):not(.collection_check_boxes):after {
      content: ":";
      vertical-align: top; }
    form label.collection_radio, form label.collection_check_boxes {
      float: none;
      clear: none; }
  form .remove_nested_fields, form .add_nested_fields {
    vertical-align: top; }
  form ol {
    padding-left: 35px; }
  form .collection_check_boxes input[type='checkbox'] {
    margin-right: 4px; }
  form span.errors:not(:empty) {
    color: red;
    font-size: 1em;
    font-weight: normal; }
  form .field_with_errors {
    display: inline; }
    form .field_with_errors input, form .field_with_errors textarea {
      border: 1px solid red; }
  form .remove_nested_fields {
    text-indent: -9999px;
    display: inline-block;
    width: 16px;
    height: 16px;
    background-repeat: none;
    background-image: url("/images/remove.png"); }
  form .question {
    border: 1px solid gray;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    padding: 10px; }
    form .question .predefined_answers {
      padding-top: 10px;
      border-style: solid;
      border-color: gray;
      border-width: 1px 0; }

.button {
  text-indent: -9999px;
  display: inline-block;
  width: 16px;
  height: 16px;
  background-repeat: none; }
  .button.move_up {
    background-image: url("/images/move up.png"); }
  .button.move_down {
    background-image: url("/images/move down.png"); }
  .button.next_question, .button.proceed {
    background-image: url("/images/move right.png"); }
  .button.prev_question {
    background-image: url("/images/move left.png"); }
  .button.finish {
    background-image: url("/images/finish.png"); }

li.question {
  margin-bottom: 20px; }
  li.question .question_fields {
    display: inline-block; }

#poll_questions .answer_fields {
  padding-left: 20px; }

.nav_buttons {
  float: left;
  clear: both;
  margin-top: 10px; }
