* {
  padding: 0;
  margin: 0; }

body {
  padding: 10px; }

#user_nav {
  text-align: right; }

#messages {
  width: 60%;
  text-align: center;
  margin: 0 auto; }
  #messages div {
    padding: 2px 10px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px; }
  #messages #notice:not(:empty) {
    border: 1px solid #00cc33;
    background-color: #99ff99; }
  #messages #alert:not(:empty) {
    border: 1px solid #ff3333;
    background-color: #ffaaaa; }

form label {
  width: 100px;
  float: left;
  clear: left;
  vertical-align: top; }
  form label:after {
    content: ":"; }
form .remove_nested_fields, form .add_nested_fields {
  vertical-align: top; }

#poll_questions .answer_fields {
  padding-left: 20px; }
