@mixin rounded
  $radius: 10px
  border-radius: $radius
  -moz-border-radius: $radius
  -webkit-border-radius: $radius

*
  margin: 0
  padding: 0
  
body
  padding: 10px
  
#user_nav
  text-align: right
  
#messages
  width: 60%
  text-align: center
  margin: 0 auto 20px
  & div
    padding: 2px 10px
    @include rounded
  #notice:not(:empty)
    border: 1px solid #00CC33
    background-color: #99FF99
  #alert:not(:empty)
    border: 1px solid #FF3333 
    background-color: #FFAAAA
  
form
  line-height: 1.5em
  font-size: 1em
  label
    width: 120px
    vertical-align: top
    float: left
    clear: left
    &:not(.collection_radio):not(.collection_check_boxes):after
      content: ':'
      vertical-align: top
    &.collection_radio, &.collection_check_boxes
      float: none
      clear: none
  .remove_nested_fields, .add_nested_fields
    vertical-align: top
  ol
    padding-left: 35px
  .collection_check_boxes input[type='checkbox']
    margin-right: 4px
  span.errors:not(:empty)
    color: red
    font-size: 1em
    font-weight: normal
  .field_with_errors
    display: inline
    input, textarea
      border: 1px solid red
  .remove_nested_fields
    background-image: url('/images/remove.png')
    text-indent: -9999px
    display: inline-block
    width: 16px
    height: 16px
    background-repeat: none
  .question
    border: 1px solid gray
    @include rounded
    padding: 10px
    .predefined_answers
      padding-top: 10px
      border-style: solid
      border-color: gray
      border-width: 1px 0

li.question
  margin-bottom: 20px
  .question_fields
    display: inline-block
    
#poll_questions
  .answer_fields
    padding-left: 20px
    
.nav_buttons
  float: left
  clear: both
  margin-top: 10px
  .button
    border: 1px solid black
    padding: 2px
    margin-right: 2px
    float: left
