%div[question]
  %h3= question.text
  = f.fields_for :questions, question do |question_f|
    %ol.answers
      - if question_f.object.multiple_answers?
        = question_f.collection_check_boxes :answers_predefined_answer_ids, question.predefined_answers, :id, :text, :item_wrapper_tag => "li class='answer'"
      - else
        = question_f.collection_radio :answers_predefined_answer_ids, question.predefined_answers, :id, :text, :item_wrapper_tag => "li class='answer'"        
